@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.container-buttons {
    margin: 20px 0 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 40px;
    justify-content: center;
}

li {
    border: 2px solid #8133ff;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #ffffff;


}


.item-price {

    font-weight: bold;
    color: #79cb15;
}